/.quarto/
.Rproj.user
.Rhistory
.DS_Store
*.orig

# ignore the rendered book, since GHA does that for us
_book
_freeze
site_libs
*_files

.venv

# ignore data files
data
PUMS_smol

# ignore pdf rendering artifacts
index.aux
index.bbl
index.blg
index.log
index.pdf
index.tex
/krantz.cls
/Scaling-Up-With-R-and-Arrow.tex
# IDK why these get generated here
/advanced_topics_files
/getting_started_files